html, body {
  margin: 0;
  padding: 0;
}

.logo {
  height: 75px;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.test-button {
  padding: 0.25rem;
  background: #111;
}